Rplots.pdf
*.sge*
mothur*logfile

code/mothur/*
data/*/*
!data/raw/primer.oligos
!data/raw/metadata.csv
!data/raw/group_colors.csv
!data/raw/environmental_data.csv
!data/references/atcc_v4.fasta
!data/raw/NC_3_18118-0246_S66_L001_R1_001.fastq
!data/raw/NC_3_18118-0246_S66_L001_R2_001.fastq
!data/raw/NC_4_18118-0335_S146_L001_R1_001.fastq
!data/raw/NC_4_18118-0335_S146_L001_R2_001.fastq
!data/raw/NC_5_18118-0423_R1_all.fastq
!data/raw/NC_5_18118-0423_R2_all.fastq
!data/mothur/README.md
!data/raw/README.md
!data/references/README.md
submission/*_cache
